<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Refacciones</title>
</head>
<body ng-controller="consultaRefax">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="text-align: center;">Consulta Refacciones</h1>
                <br>
                <form action="#">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="categoria">Categoria</label>
                            <select name="categoria" ng-model="cat" id="categoria" class="form-control">
                                <option value="">Categoria</option>
                                <option value="Afinacion">Afinacion</option>
                                <option value="Frenos">Frenos</option>
                                <option value="Suspension">Suspención</option>
                                <option value="Clutch">Clutch de Embrague</option>
                                <option value="Enfriamento">Enfriamento</option>
                                <option value="Motor">Ajuste de Motor</option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="refaccion">Refaccion</label>
                           <select name="refaccion" id="refaccion" ng-model="refaccion" class="form-control">
                               <option value="">Nombre de la refaccion</option>
                               <option value="{{Ref.id_refaccion}}" ng-repeat="Ref in Refax">{{Ref.nombre}}</option>
                           </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <button type="button" ng-click="RefaccionesCat()" class="btn btn-outline-danger">Listar Por Categoria</button>  
                        </div>
                        <div class="form-group col-md-5">
                            <button type="button" ng-click="getRefaccion()" class="btn btn-outline-danger">Buscar Refaccion</button>  
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" id="Refac" style="text-align: center;">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="../images/{{ReFax.imagen}}" width="180px" height="130px">
                <h4>{{ReFax.nombre}}</h4>
                <p>{{ReFax.Descripcion}}</p>
                <h4>${{ReFax.precio_venta}}</h4>
                <h5 style="color: grey;">({{ReFax.existencia}})</h5>
                
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" id="Refacciones">
            <div class="col-md-4" style="text-align: center;" ng-repeat="Refaccion in ProdsCategoria">
                <img src="../images/{{Refaccion.imagen}}" width="180px" height="130px">
                <h4>{{Refaccion.nombre}}</h4>
                <h5 style="color: grey;">({{Refaccion.existencia}})</h5>
                <button type="button" class="btn btn-danger" ng-click="verDetalles(Refaccion.id_refaccion)"><i class="fas fa-eye"></i> Ver Detalles</button>
            </div>
        </div>
    </div>
    <br><br><br>
    
</body>
</html>