<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body ng-controller="eliminaEmpleadoController">
    <br><br>
    <div class="container font-poop">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-primary text-center  animate__animated animate__fadeInLeft"> <i class="fa fa-user-times"></i> Da de baja a Empleados</h1>
                <hr>
                <p class="text-center animate__animated animate__fadeInLeft">Consulta por id de empleado, para visualizar la información, para después poder dar de baja al empleado.</p>
                <br>
                <form class="animate__animated animate__fadeInDown">
                    <div class="form-row ">
                        <div class="col-md-2 text-right">
                            <i class="fa fa-key ml-2 mt-2"></i>
                        </div>
                        <div class="col-md-6 text-center">
                            <input list="refaccion" ng-model="empleado" value="" class="form-control mb-6">
                            <datalist id="refaccion">
                            <option ng-repeat="Empleado in Empleados" value="{{Empleado.id_empleado}}">{{Empleado.nombre}}</option>
                        </datalist>
                        </div>
                        <div class="col-auto">
                            <button type="button" ng-click="getEmpleado()" class="btn btn-info mb-2"> <i class="fa fa-eye mr-2"></i> Ver Informacion</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>

        <div class="row" id="DatosEmpleado" class="animate__animated animate__fadeI">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <img src="../images/empresario.png" width="100px" height="100px" style="text-align: center;">
                </div>

                <form class="animate__animated animate__fadeInUp">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1"><i class=" mr-2 fa fa-user"></i></span> Nombre:</label>
                            <input disabled type="text" class="form-control" name="nombre" aria-describedby="emailHelp" value="{{Emp.nombre}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class=" mr-2 fa fa-map"></i> Estado:</label>
                            <input disabled type="text" class="form-control" name="descripcion" value="{{Emp.estado}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class=" mr-2 fa fa-city"></i> Ciudad:</label>
                            <input disabled type="text" class="form-control" name="descripcion" value="{{Emp.ciudad}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class=" mr-2 fa fa-road"></i> Domicilio:</label>
                            <input disabled type="text" class="form-control" name="precioCompra" value="{{Emp.domicilio}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class="mr-2 fa fa-search-location"></i> Codigo Postal:</label>
                            <input disabled type="text" class="form-control" name="precioCompra" value="{{Emp.cp}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class="mr-2 fa fa-phone"></i> Teléfono:</label>
                            <input disabled type="text" class="form-control" name="precioVenta" value="{{Emp.telefono}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"><i class=" mr-2 fa fa-envelope"></i> Email:</label>
                            <input disabled type="text" class="form-control" name="existencia" value="{{Emp.email}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-calendar-alt"></i> Fecha de Nacimiento:</label>
                            <input disabled type="text" class="form-control" name="existencia" value="{{Emp.fecha_nacimiento}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 text-center">
                            <button type="button" ng-click="eliminarEmpleado()" class="btn btn-lg  btn-danger "> <i class="fas fa-trash mr-2"></i> Dar de baja</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
</body>

</html>