<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body ng-controller="homecontroller">
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <img src="../images/logo.png" width="250px" height="140px">
                <h2>Login</h2>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="correo">Correo</label>
                        <input type="text" ng-model= "CorreoLogin" name="Correo" id="correo" placeholder="Correo" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña</label>
                        <input type="password" ng-model="PassLogin" name="pass" id="pass" placeholder="Contraseña" class="form-control">
                    </div>
                    <button type="button" ng-click= "Login()" class="btn btn-outline-primary">Login</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
</html>