<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    
</head>
<body  ng-controller="ventasController">
    <br><br>
    <div class="container">
        <div class="row">
            <div  class="col-md-5">
              <div class="row">
                <div class="col-md-12 compra" >
                    <div class="row">
                      <div class="col-sm-2">
                        <h5>Fecha: </h5>
                      </div>
                      <div class="col-sm-9">
                        <h5 style="color: rgb(194, 23, 23);">{{meses[fecha.getMonth()]}} {{fecha.getDate()}} , {{fecha.getFullYear()}}</h5>
                      </div>
                    </div>
                  
                </div>
                
                <div class="col-md-12 overflow-auto" style="width: 800px; height: 400px ; padding-left: 0px;">
                  <br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="titCol m-md-4">Nombre</th>
                        <th style="text-align: center;" class="titCol m-md-2" colspan="3">Cantidad</th>
                        <th class="titCol m-md-3">Precio</th>
                        <th class="titCol m-md-3">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat= "Productos in data">
                        <td style="font-size: 13px;" scope="col"> {{Productos.nombre}}</td>
                        <td style="font-size: 15px;" scope="col" ><button type="button" ng-click="AumentaCant(Productos.id)" class=" btn btn-link"><i class="fas fa-plus-circle"></i></button>
                        <td style="font-size: 15px;" scope="col">{{Productos.cantidad}}</td>
                        <td style="font-size: 15px;" scope="col"><button type="button" ng-click="DisminuyeCant(Productos.id)" class=" btn btn-link "><i class="fas fa-minus-circle"></i></button></td></td>  
                        <td style="font-size: 15px;" scope="col">${{Productos.precio}}</td>
                        <td style="font-size: 15px;" scope="col">${{Productos.total}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>   
              
            </div>
              <div class="row">
                <div class="col-md-4">
                  <h4 style="color: blue;"> Total a Pagar:</h4>
                </div>
                <div class="col-md-4">
                  <h4> ${{total}}</h4>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ventana" >Finalizar Venta</button>
                  
                  
                  
                  <div class="modal fade" id="ventana">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="images/factura.png" width="50px" height="50px">
                                    </div>
                                    <div class="col-md-9">
                                        <h4 style="color: green">Cliente a Facturar</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-md-12">
                                 <form >
                                  <div class="form-group row">
                                    <label for="RFC" class="col-sm-4 col-form-label">RFC del Cliente</label>
                                    <div class="col-sm-8">
                                      <select name="rfc" id="RFC" ng-model="RFC_cliente" class="form-control">
                                        <option value=""></option>
                                        <option ng-repeat="Cliente in Clientes" ng-model="RFC_cliente" value="{{Cliente.rfc_cliente}}">{{Cliente.rfc_cliente}}</option>
                                      </select>
                                    </div>
                                  </div>
                                 </form>
                              </div>
                              <br>
                              <div class="col-md-12">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#registroCliente">Registrar nuevo Cliente</button>
                                <div class="modal fade" id="registroCliente">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <div class="row">
                                                  <div class="col-md-2">
                                                      <img src="images/registro.png" width="50px" height="50px">
                                                  </div>
                                                  <div class="col-md-10">
                                                      <h4 style="color: green">Registro de Nuevos Clientes</h4>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="modal-body">
                                              <div class="col-md-12">
                                                <form>
                                                  <div class="form-group">
                                                    <label for="RFCR">RFC del cliente</label>
                                                    <input type="text" ng-model="RFC_cliente" class="form-control" id="RfCR" placeholder="RFC">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="nombre">Razon Social o Nombre de la persona</label>
                                                    <input type="text" ng-model="nombre" class="form-control" id="nombre" placeholder="Nombre">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="ciudad">Ciudad</label>
                                                    <input type="text" ng-model="ciudad" class="form-control" id="ciudad" placeholder="Ciudad">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <input type="text" ng-model="estado" class="form-control" id="estado" placeholder="Estado">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="domicilio">Domicilio</label>
                                                    <input type="text" ng-model="domicilio" class="form-control" id="domicilio" placeholder="Domicilio">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="Telefono">Telefono</label>
                                                    <input type="text" ng-model="telefono" class="form-control" id="telefono" placeholder="Telefono">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="text" ng-model="email" class="form-control" id="email" placeholder="Email">
                                                  </div>
                                                </form>
                                              </div>
                                          </div>
                                          <div class="modal-footer">
                                            <div class="col-md-6" style="text-align: center;">
                                              <button type="button" class="btn btn-outline-success" data-dismiss="modal" ng-click="finalizarVentaCliente()">Registrar y Facturar</button>
                                            </div>
                                            <div class="col-md-6" style="text-align: center;">
                                              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar </button>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              </div>      
                            </div>
                            <div class="modal-footer">
                              
                                <div class="col-md-6" style="text-align: center;">
                                  <button type="button" class="btn btn-outline-success" data-dismiss="modal" ng-click="GuardarVenta()">Finalizar Venta</button>
                                </div>
                                <div class="col-md-6" style="text-align: center;">
                                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar Venta</button>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div style="background-color: rgba(110, 113, 238, 0.247);" class="col-md-7">
              <h1>Mis Productos</h1>
              <form>
                <div class="form-row">
                  <div class="col-3">
                    <select class="form-control" ng-model="categoria" name="categoria"> 
                      <option value="">Categoria</option>
                      <option value="Afinacion">Afinacion</option>
                      <option value="Frenos">Frenos</option>
                      <option value="Suspension">Suspención</option>
                      <option value="Clutch">Clutch de Embrague</option>
                      <option value="Enfriamento">Enfriamento</option>
                      <option value="Motor">Ajuste de Motor</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Nombre de la Refaccion">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-primary" ng-click="Search()"><i class="fas fa-search-plus"></i> Buscar</button>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-md-4" style="text-align: center;" ng-repeat="Refaccion in Refacciones">
                  <br><br>
                  <img src="../images/{{Refaccion.imagen}}" width="180px" height="130px">
                  <br><br>
                  <h5 style="font-size: 17px;">{{Refaccion.nombre}}</h5>
                  <h5>${{Refaccion.precio_venta}}</h5>
                  <button type="button" class="btn btn-danger"><i class="fas fa-eye"></i>  Ver</button>
                  <button type="button" ng-click="AgregarLista(Refaccion.id_refaccion)" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Agregar</button>
                  <br>
                </div>
                <br><br>
              </div>
              <br><br><br>
            </div>  <!---Hasta aqui termina la seccion donde se muestran los productos-->
            <br>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" ng-click="agrega()"> Agregar Nuevo Producto</button>
            </div>
    
        </div>
    </div>
    
</body>
</html>