<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
</head>

<body ng-controller="verEmpleadosController" class="font-poop">
    <br><br>
    <div class="container font-poop">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="text-align: center;">
                <h1 class="text-center text-primary animate__animated animate__fadeInLeft"> <i class="fa fa-user-circle"></i> Ver Informacion de los Empleados</h1>
                <hr>
                <p class="  animate__animated animate__fadeInLeft ">Consulta por id del empleado para poder visualizar la información.</p>
                <form class="mt-3 animate__animated animate__bounce">
                    <div class="form-row mt-4 ">
                        <div class="col-md-2">
                            <label for=""> <i class="fa fa-key"></i> ID:</label>
                        </div>
                        <div class="col-md-6">
                            <input list="refaccion" ng-model="empleado" value="" class="form-control mb-6">
                            <datalist id="refaccion">
                            <option ng-repeat="Empleado in Empleados" value="{{Empleado.id_empleado}}">{{Empleado.nombre}}</option>
                        </datalist>
                        </div>
                        <div class="col-auto">
                            <button type="button" ng-click="MostrarEmpleado()" class="btn btn-primary mb-2"> <i class="fa fa-eye"></i> Ver Informacion</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>

        <div class="row" id="DatosEmpleado">
            <div class="col-md-12">
                <div style="text-align: center;">
                    <img src="../images/empresario.png" width="100px" height="100px" style="text-align: center;">
                </div>

                <form class="animate__animated animate__fadeIn ">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1"> <i class=" mr-2 fa fa-user"></i> Nombre:</label>
                            <input disabled type="text" class="form-control" name="nombre" aria-describedby="emailHelp" value="{{Emp.nombre}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-map"></i> Estado:</label>
                            <input disabled type="text" class="form-control" name="descripcion" value="{{Emp.estado}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-city"></i> Ciudad:</label>
                            <input disabled type="text" class="form-control" name="descripcion" value="{{Emp.ciudad}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-road"></i> Domicilio:</label>
                            <input disabled type="text" class="form-control" name="precioCompra" value="{{Emp.domicilio}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class="mr-2 fa fa-search-location"></i> Codigo Postal:</label>
                            <input disabled type="text" class="form-control" name="precioCompra" value="{{Emp.cp}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class="mr-2 fa fa-phone"></i> Teléfono:</label>
                            <input disabled type="text" class="form-control" name="precioVenta" value="{{Emp.telefono}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-envelope"></i> Email:</label>
                            <input disabled type="text" class="form-control" name="existencia" value="{{Emp.email}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1"> <i class=" mr-2 fa fa-calendar-alt"></i> Fecha de Nacimiento:</label>
                            <input disabled type="text" class="form-control" name="existencia" value="{{Emp.fecha_nacimiento}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</body>

</html>