<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar ventas</title>
</head>

<body ng-controller="verVentasController">
    <br><br>
    <div class="container font-poop">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center text-primary "> <i class="fa fa-dollar-sign mr-2"></i> Consultar Ventas</h1>
                <hr>
                <br>
                <div class="row" id="">
                    <div class="col-md-12">
                        <table class="table table-responsive-md">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"># de venta</th>
                                    <th scope="col">Empleado</th>
                                    <th scope="col hidden-sm " data-hide="phone, tablet">RFC cliente</th>
                                    <th scope="col hidden-sm " data-hide="phone, tablet">Fecha</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Venta in Ventas">
                                    <th scope="row">{{Venta.id_venta}}</th>
                                    <td>{{Venta.id_empleado}}</td>
                                    <td class="hidden-sm">{{Venta.rfc_cliente}}</td>
                                    <td class="hidden-sm">{{Venta.fecha | date:'mediumDate'}}</td>
                                    <td>{{Venta.monto | currency:"MXN$":2}}</td>
                                    <td> <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#verDetalles" ng-click="VerVenta(Venta.id_venta)"> <i class="fa fa-eye mr-2"></i> Ver
                                            Detalles</button>
                                        <div class="modal fade" id="verDetalles">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="row text-center">
                                                            <div class="col-md-12 text-center">
                                                                <h2 class="text-center font-bold">Venta desglozada</h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <h3 class="text-info text-center">
                                                                    Refaccionaria AutoRefax</h3>
                                                                <p class="text-center"><i class="fa fa-city mr-2 "></i> Aguascalientes, Aguascalientes</p>
                                                                <p class="text-center"><i class="fa fa-road mr-2 "></i>Carmen de Luna Sevilla #210, 48768</p>
                                                                <p class="text-center"> <i class="fa fa-phone mr-2 "></i> 449-214-89-78</p>
                                                                <br>
                                                                <hr>
                                                                <h3 class="text-primary text-center ">Detalle refacciones
                                                                </h3>

                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="col-md-12 ">
                                                                <table class="table table-responsive-md ">
                                                                    <thead class="thead-dark ">
                                                                        <tr>
                                                                            <th scope="col ">Refaccion</th>
                                                                            <th scope="col ">Imagen</th>
                                                                            <th scope="col ">Cantidad</th>
                                                                            <th scope="col ">Precio Unitario</th>
                                                                            <th scope="col ">Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <!-- nombre, imagen, total_articulos, precio_venta-->
                                                                    <tbody>
                                                                        <tr ng-repeat="datoVenta in datosVenta ">
                                                                            <td>{{datoVenta.nombre}}</td>
                                                                            <td>
                                                                                <img src="../images/{{datoVenta.imagen}} " class="card-img-top " width="60px " height="60px ">
                                                                            </td>
                                                                            <td>{{datoVenta.total_articulos}}</td>
                                                                            <td>{{datoVenta.precio_venta }}</td>
                                                                            <td>{{datoVenta.total_articulos * datoVenta.precio_venta}}
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer ">
                                                        <button type="button " class="btn btn-outline-danger " data-dismiss="modal "> <i class="fa fa-arrow-left mr-2"></i> Salir</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>